.segregated {
  font-size: 13px;
  font-weight: 600;
  padding-right: 32px;
}

.plus {
  margin-left: 8px;
  font-size: 25px;
  color: #3B3F6E;

}

.btnp {
  display: inline-block;
  margin-top: 7px;
  font-size: 15px;
}

.size {
  color: var(--text-dark, #2D2F33);

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}



.colorful-bullet {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.green {
  background-color: #5BAF76;
}

.yellow {
  margin-left: 2px;
  background-color: #F6D662;
}

.grey {
  margin-left: 2px;
  background-color: #D9D9D9;
}


.autopark {
  display: flex;
  gap: 4px;
  align-items: center;
  align-content: center;
  justify-content: flex-start;

}

.progress {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  background:
    radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(#5BAF76 68%, #E1E7F0 0);
}

.progress-bar {
  height: 8px;
  width: 251px;
  bottom: 21em;
  border-radius: 16px;
  display: flex;
  overflow: hidden;
}

.progress-bar-fill-1 {
  width: 197px;
  background: #5BAF76;
  box-sizing: border-box;
  border-right: 1px solid white;
}

.progress-bar-fill-2 {
  width: 17px;
  background: #F6D662;
  box-sizing: border-box;
  border-right: 1px solid white;

}

.progress-bar-fill-3 {
  width: 60px;
  border-radius: 15px 30px 30px 5px;
  background: #D9D9D9;
  box-sizing: border-box;
  border-right: 1px solid white;
}